@import '../settings/sizes.scss';
@import '../settings/colors.scss';

.btn {
  &:hover {
    cursor: pointer;
  }
  padding: 0.75rem;
  border-radius: $border-radius;
  border: 0;

  &--wide {
    width: 100%;
  }

  &--primary {
      background-color: $primary-800;
      color: $primary-100;
  }
}
