@import '../settings/sizes.scss';
@import '../settings/colors.scss';

.formfield {
  display: flex;
  align-items: center;

  &--checkbox {
    gap: 0.5rem;
  }

  &__label {
    color: $gray;
    font-weight: 600;
  }

  &__input {
    border: solid $gray-400 0.1rem;
    border-radius: $border-radius;
    color: $gray-600;
    width: 100%;
    padding: 0.75rem;
    height: 3rem;

    &--checkbox {
      height: 1rem;
      width: 1rem;
    }
  }
}

.formfield__input {
  border: 1px solid #ccc;
  padding: 7px 14px 9px;
  transition: 0.4s;
}

.formfield__input ~ .formfield__focus:before,
.formfield__input ~ .formfield__focus:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.2s;
  transition-delay: 0.2s;
}
.formfield__input ~ .formfield__focus:after {
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
  transition-delay: 0.6s;
}
.formfield__input ~ .formfield__focus i:before,
.formfield__input ~ .formfield__focus i:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #4caf50;
  transition: 0.2s;
}
.formfield__input ~ .formfield__focus i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  transition-delay: 0.4s;
}
.formfield__input:focus ~ .formfield__focus:before,
.formfield__input:focus ~ .formfield__focus:after {
  width: 100%;
  transition: 0.2s;
  transition-delay: 0.6s;
}
.formfield__input:focus ~ .formfield__focus:after {
  transition-delay: 0.2s;
}
.formfield__input:focus ~ .formfield__focus i:before,
.formfield__input:focus ~ .formfield__focus i:after {
  height: 100%;
  transition: 0.2s;
}
.formfield__input:focus ~ .formfield__focus i:after {
  transition-delay: 0.4s;
}
