
@import '../settings/colors.scss';

.text {
    &--title {
        font-size: 2.441rem;
        font-weight: 700;
    }

    &--primary {
        color: $primary-900;
        font-weight: 600;
    }

    &--primary-500 {
        color: $primary-500;
    }

    &--gray-500 {
        color: $gray-500;
    }

    &--primary-200 {
        color: $primary-200;
        font-weight: 600;
    }
}