<div class="login__left">
  <div class="svg-wrapper svg-wrapper--login">
    <img
      src="../../../assets/svg/undraw_environmental_study_re_q4q8.svg"
      alt="analitics"
      class="svg svg--login"
    />
  </div>
  <div class="login__motto">
    <p class="text text--title text--primary-200">Your processes made easy</p>
  </div>
</div>
<div class="login__right">
  <div class="login__banner"></div>
  <div class="login__header">
    <p class="text text--title">Welcome back!</p>
    <p class="text text--gray-500">We hope you are doing great</p>
  </div>
  <form class="login__form">
    <div class="formfield">
      <input
        type="email"
        id="email"
        placeholder="Email"
        class="formfield__input"
      />
    </div>
    <div class="formfield">
      <input
        type="password"
        id="password"
        placeholder="Password"
        class="formfield__input"
      />
    </div>
    <div class="formfield formfield--checkbox">
      <input
        type="checkbox"
        id="remember"
        class="formfield__input formfield__input--checkbox"
      />
      <label for="remeber" class="formfield__label">Remember me</label>
    </div>
  </form>
  <div class="login__button">
    <button class="btn btn--primary btn--wide">Log in</button>
  </div>
  <div class="login__forgot">
    <p class="text">I don't remember my password.</p>
    <p class="text text--primary">Recover it!</p>
  </div>
</div>
